*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
header{
    height: 40vw;
    background-image: url(create\ a\ mount\ 1.webp);
    object-fit: cover;
    background-attachment: fixed;
    background-size: 100%;
    position: relative;
}
header nav{
    height: 5vw;
    width: 100%;
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: space-between;
    padding: 0vw 3vw;
    background-color: rgb(24, 24, 24);
    z-index: 111111111111;
}
header nav .box{
    height: 100%;
    width: 50%;
    padding: 0vw 3vw;
    display: flex;
    align-items: center;
}
header nav .box h2{
    font-size: 25px;
    font-family: "Poppins", sans-serif;
    color: rgb(69, 174, 203);
    cursor: pointer;
    padding:0 0 ;
    margin-left: 3%;
}
header nav .box span{
    color: green;
}

header nav .box ul{
    list-style-type: none;
    margin-left: 15%;
    display: flex;
    align-items: center;
}
header nav .box ul li{
    margin-left: 10%;
    margin-top: 10%;
}
header nav .box ul li a{
      text-decoration: none;
      font-size: 18px;
      color: white;
      word-spacing: 5px;
      font-family: "Poppins", sans-serif;
}
header nav .box ul li a:hover{
  cursor: pointer;
  color: rgb(104, 82, 82);
 
}
header h2{
    font-size: 3vw;
    color:white;
    word-spacing: 5px;
    padding-top: 9vw;
    padding-left: 15vw;
    font-family: "Poppins", sans-serif;
}
header p {
    font-size: 2vw;
    color:white;
    font-weight: 500;
    width: 70%;
    padding: 2vw 10vw;
    font-family: "Poppins", sans-serif;
}
header button{
    padding: 1.5vw 2vw;
    border-radius: 10px;
    border: none;
    margin-left: 15vw;
    margin-top: 1vw;
    color:rgb(24, 24, 24);
}
header button:hover{
    cursor: pointer;
    color: white;
    background-color:rgb(24, 24, 24) ;
}
/* header end */
/* main start */
main{
    height: 230vw;
    position: relative;
   
}
/* about start */
section.aboutmain{
    padding: 3vw 0vw;
    height: 80vw;
    background-image: url(create\ a\ travel\ 0.webp);
    background-attachment: fixed;
    background-size: 100%;
    margin-top: 3vw;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
}
section.aboutmain .about-2{
    height: 30vw;
    background-color: rgb(24, 24, 24);
    display: flex;
    justify-content: center;
    padding: 0vw 5vw;
}
section.aboutmain .about{
    height: 30vw;
    background-color: rgb(24, 24, 24);
    display: flex;
    justify-content: center;
    padding: 0vw 5vw;
}
section.aboutmain .about-2 .box-2{
    height: 100%;
    width: 50%;
}
section.aboutmain .about .box{
    height: 100%;
    width: 50%;
}
section.aboutmain .about-2 .box-2 p{
    font-size: 1.8vw;
    color:white;
    font-weight: 500;
    width: 100%;
    font-family: "Poppins", sans-serif;
}
section.aboutmain .about-2 .box-2 h2{
    font-size: 3vw;
    color:white;
    word-spacing: 5px;
    padding: 1vw 3vw;
    font-family: "Poppins", sans-serif;
}
section.aboutmain .about-2 .box-2 button{
    padding: 1.5vw 2vw;
    border-radius: 10px;
    border: none;
    margin-left: 15vw;
    margin-top: 1vw;
    color:rgb(24, 24, 24);
}
section.aboutmain .about-2 .box-2 button:hover{
    cursor: pointer;
    color: white;
    background-color:rgb(77, 74, 74) ;
}
section.aboutmain .about .box p{
    font-size: 1.8vw;
    color:white;
    font-weight: 500;
    width: 100%;
    font-family: "Poppins", sans-serif;
}
section.aboutmain .about .box h2{
    font-size: 3vw;
    color:white;
    word-spacing: 5px;
    padding: 4vw 3vw;
    font-family: "Poppins", sans-serif;
}
/* about end */
/* destination start */
main section.destination-main{
    height: 80vw;
    margin-top: 3vw;
    background-image: url(create\ a\ backgr\ 1.webp);
    background-attachment: fixed;
    background-position-y: 50%;
    background-size: 100%;
    
}
main section.destination-main h1{
    font-size: 3vw;
    color:white;
    word-spacing: 5px;
    padding: 2vw 36vw;
    font-family: "Poppins", sans-serif;
}
main section.destination-main h2{
    font-size: 2.5vw;
    color:white;
    word-spacing: 5px;
    padding: 0vw 32vw;
    font-family: "Poppins", sans-serif;
}
main section.destination-main .destination{
    height: 30vw;
    margin-top: 2%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}
main section.destination-main .destination .box{
    height: 25vw;
    width: 25vw;
    background-image: url(create\ a\ travel\ 1.webp);
    background-size: 100%;
    border-radius: 5%;
    padding: 10vw 5vw;
}
main section.destination-main .destination .box h3{
    font-size: 2vw;
    color: wheat;
    font-family: "Poppins", sans-serif;

    /* display: none;   */
}

/* destination end */
/* services starrt */
main section.service-main {
    height:60vw ;
    padding-top: 1vw;
    margin-top: 3vw;
    background-image: url(create\ a\ travel\ 0.webp);
    background-attachment: fixed;
    background-position-y: 10%;
    background-size: 100%;
}
main section.service-main h2{
    font-size: 3vw;
    color:white;
    word-spacing: 5px;
    padding: 2vw 36vw;
    font-family: "Poppins", sans-serif;
}
main section.service-main h3{
    font-size: 2.5vw;
    color:white;
    word-spacing: 5px;
    padding: 0vw 30vw;
    font-family: "Poppins", sans-serif;
}
main section.service-main .service{
    height: 35vw;
    background-color: rgb(24, 24, 24);
    margin-top: 5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
main section.service-main .service .box{
    height: 90%;
    width: 32%;
    padding: 2vw 5vw;
   background-image: url(create\ a\ backgr\ 0.webp);
   background-position-y: 10%;
   background-size: 100%;
   border-radius: 10px;
}
main section.service-main .service .box:nth-child(2){
    background-image: url(A\ beautiful\ ima\ 1\ \(2\).png);
}
main section.service-main .service .box:nth-child(3){
    background-image: url(create\ a\ backgr\ 1.webp);
}
   
main section.service-main .service .box h1{
    font-size: 3vw;
    color:white;
    word-spacing: 5px;
    font-family: "Poppins", sans-serif;
}
main section.service-main .service .box p{
    font-size: 1.5vw;
    color:white;
    margin-top: 5%;
    font-weight: 500;
    width: 100%;
    font-family: "Poppins", sans-serif;
}
main section.service-main .service .box button{
    padding: 1vw 3vw;
    border-radius: 10px;
    border: none;
    margin-left: 5vw;
    margin-top: 1vw;
    color:rgb(24, 24, 24);
}
main section.service-main .service .box button:hover{
    cursor: pointer;
    color: white;
    background-color:rgb(77, 74, 74) ;
}

/* Footer Styles */
footer {
    background-color: rgb(38, 37, 37);
     color: #fff; 
     padding: 2vw 0vw; 
     margin-top: 2%;
 }
 
 .containeroffooter {
     display: flex;
     justify-content: space-between;
     flex-wrap: wrap;
 }
 
 .footercontact, .footerlink, .footermedia {
     flex: 1;
     margin: 0 20px;
 }
 
 .footercontact h4, .footerlink h4, .footermedia h4 {
     font-size: 25px;
     margin-bottom: 10px;
 }
 
 .footermedia ul{
     list-style-type: none;
 }
 
 .footercontact p {
     margin-bottom: 8px;
 }
 
 .footerlink ul li, .footermedia ul li {
     margin-bottom: 15px;
 }
 
 .footerlink ul li a, .footermedia ul li a {
     color: #fff;
     text-decoration: none;
     transition: color 0.3s;
 }
 
 .footerlink ul li a:hover, .footermedia ul li a:hover {
     color: black; /* Hover par text color change ho */
 }
 
 .footercopy {
     text-align: center;
     margin-top: 20px;
 }
   
 /* visa page */
 section.visa-main{
    height: 90vw;
    margin-top: 3vw;
    background-image: url(create\ a\ backgr\ 1.webp);
    background-attachment: fixed;
    background-position-y: 50%;
    background-size: 100%;
    
 }
 section.visa-main .visa{
    height: 30vw;
    margin-top: 2%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
 }
 section.visa-main .visa-2{
    height: 30vw;
    margin-top: 2%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
 }
 section.visa-main .visa .box a button , section.visa-main .visa-2 .box-2 a button, section.visa-main .visa-3 .box-3 a button{
    width: 20vw;
    height: 5vw;
    border: none;
   margin-top: 55%;
 opacity: 0.8;
 font-size: 2.5vw;
 font-weight: 700;
    color:white;
    background-color: rgb(24, 24, 24);
 }  
 section.visa-main .visa .box a button:hover {
    opacity: 1;
 }
 section.visa-main .visa-2 .box-2 a button:hover {
    opacity: 1;
 }
 section.visa-main .visa-3 .box-3 a button:hover{
    opacity: 1;
 }
 section.visa-main .visa-3{
    height: 30vw;
    margin-top: 2%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
 }
 section.visa-main .visa .box{
    height: 15vw;
    width: 20vw;
    overflow: hidden;
    background-image: url(../images/AZERBAIJAN.webp);
    background-position: center;
    background-size: 150%;
    border-radius: 10%;
    
 }
 section.visa-main .visa .box:nth-child(2){
    background-image: url(../images/canada.webp);
    background-position-x: 20%;
 }
 section.visa-main .visa .box:nth-child(3){
    background-image: url(../images/duabi.webp);
 }
 section.visa-main .visa .box:nth-child(4){
    background-image: url(../images/germany.webp);
 }
 section.visa-main .visa-2 .box-2{
    height: 15vw;
    width: 20vw;
    overflow: hidden;
    background-image: url(../images/iran.webp);
    background-position: center;
    background-size: 150%;
    border-radius: 10%;
    
 }
 section.visa-main .visa-2 .box-2:nth-child(2){
   background-image: url(../images/italy.webp);
 }
 section.visa-main .visa-2 .box-2:nth-child(3){
   background-image: url(../images/malaysia.webp);
   background-position-x: 20%;
 }
 section.visa-main .visa-2 .box-2:nth-child(4){
   background-image: url(../images/portugal.webp);
   background-position-x: 20%;
 }
 section.visa-main .visa-3 .box-3{
    height: 15vw;
    width: 20vw;
    overflow: hidden;
    background-image: url(../images/singapore.webp);
    background-position: center;
    background-size: 150%;
    border-radius: 10%; 
    
 }
 section.visa-main .visa-3 .box-3:nth-child(1){
    background-position-x: 20%;
    background-position-y: 20%;
 }
 section.visa-main .visa-3 .box-3:nth-child(2){
background-image: url(../images/AZERBAIJAN.webp);
 }
 section.visa-main .visa-3 .box-3:nth-child(3){
background-image: url(../images/turkey.webp);
 }
 section.visa-main .visa-3 .box-3:nth-child(4){
background-image: url(../images/thailand.webp);
background-size: 90%;
 }
 
 a{
    text-decoration: none;
 }

/* des1 */
.containerdes1{
    height: 50vw;
    margin-top: 3%;
    display: flex;
  }
  .containerdes1 .box{
    height: 100%;
    width: 50%;
    background-color: rgb(38, 37, 37);
  }
  
  .containerdes1 .box img{
    margin-left: 3%;
    margin-top: 8%;
    height: 25vw;
    width: 30vw;
    border-radius: 15px;
    filter: drop-shadow(0 0 3px black ) drop-shadow(0 0 3px black);
  }
  
  .containerdes1 .box h1{
    margin-left: 25%;
    margin-top: 3%;
    font-weight: 600;
    color: white;
    word-spacing: 5vw;
    font-family: "Poppins", sans-serif;
  }
  .containerdes1 .box p{
    font-family: "Poppins", sans-serif;
    font-size: 2vw;
    margin-top: 5%;
    margin-left: 3%;
    color: white;
  }
  .containerdes1 .box button{
    margin-top: 5%;
    margin-left: 30%;
    padding: 1.5vw 2vw;
    color: rgb(38, 37, 37);
    border-radius: 10px;
    background-color: white;
    border: none;
    font-family: "Poppins", sans-serif;
  }
  .containerdes1 .box button:hover{
    background-color: black;
    color: white;
  }


  /* packeges page */
  section.packeges-main{
    height: 135vw;
    background-image: url(A\ beautiful\ ima\ 0\ \(2\).png);
    background-size: 200%;
    margin-top: 3%;
    background-attachment: fixed;

  }
  section.packeges-main .packeges{
    height: 30vw;
    margin-top: 3%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
   background-color: rgb(38, 37, 37);
  }
  section.packeges-main .packeges .pac-box{
    height: 90%;
    width: 22%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    overflow: hidden;
    border-radius: 10px;
    background-color: rgb(201, 195, 195);
    filter: drop-shadow(0 0 1.5px white ) drop-shadow(0 0 1.5px white);
  
  }
  section.packeges-main .packeges .pac-box .box{
    height: 40%;
  }
  section.packeges-main .packeges .pac-box .box h2{
    margin-left: 20%;
    margin-top: 3%;
    font-weight: 500;
    color: rgb(38, 37, 37);
    font-family: "Poppins", sans-serif;
  }
  section.packeges-main .packeges .pac-box .box button{
    width: 25vw;
    height: 4vw;
    margin-top: 5%;
    margin-left: -5%;
    border: none;
    opacity: 0.5;
    font-size: 1.5vw;
    font-weight: 500;
    color:white;
    background-color: rgb(24, 24, 24);
  }
  section.packeges-main .packeges .pac-box .box button:hover{
    opacity: 1;
  }
  section.packeges-main .packeges .pac-box .box:first-child{
    height: 60%;
    background-image: url(create\ a\ backgr\ 1.webp);
    background-size: 100%;
  }

  section.packeges-main .packeges .pac-box .box .box-info{
    height: 30px;
    width: 100%;
    margin-top: 2%;
    display: flex;
    justify-content: space-around;

  }
  section.packeges-main .packeges .pac-box .box .box-info .box-detail{
    height: 100%;
    width: 33%;

  }
  section.packeges-main .packeges .pac-box .box .box-info .box-detail h4{
    margin-top: 3%;
    font-weight: 400;
    color: rgb(38, 37, 37);
    font-family: "Poppins", sans-serif;
  }
    
    /* packeges page back */
    section.packegespages-main{
        height: 45vw;
        margin-top: 3%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        border: solid 1px black;
    }
    section.packegespages-main .packegespages{
        height: 100%;
        width: 50%;
        background-color: rgb(38, 37, 37);
        border: solid 1px black ;
    }
    section.packegespages-main .packegespages h1{
        margin-left: 25%;
        margin-top: 3%;
        color: white;
        font-family: "Poppins", sans-serif;
        font-size: 4vw;
    }
   
/* toggle */
label, #check {
    display: none;
  }



 

