* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    height: 60vw;
    background-image: url(../images/Home.svg);
    background-attachment: scroll;
    background-size: cover;
    background-position: center;
    position: relative;
    border-bottom: solid 2px white;
}
#head-visa,.visa-back{
    background-image: url(../images/visa.webp);
}
#head-packeges,.head-packeges{
    background-image: url(../images/packeges\ \(1\).webp);

}
#head-about{
    background-image: url(../images/about.webp);
}

header nav {
    height: 5vw;
    width: 100%;
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: space-between;
    padding: 0vw 3vw;
    background-color: rgb(24, 24, 24);
    z-index: 111111111111;
}

header nav .box {
    height: 100%;
    width: 50%;
    padding: 0vw 3vw;
    display: flex;
    align-items: center;

}

header nav .box h2 {
    font-size: 25px;
    font-family: "Poppins", sans-serif;
    color: white;
    cursor: pointer;
    padding: 0 0;
    font-weight: 750;
    margin-left: 3%;
}


header nav .box ul {
    list-style-type: none;
    margin-left: 15%;
    display: flex;
    align-items: center;
}

header nav .box ul li {
    margin-left: 10%;
    margin-top: 10%;
}

header nav .box ul li a {
    text-decoration: none;
    font-size: 18px;
    color: white;
    word-spacing: 5px;
    font-family: "Poppins", sans-serif;
}

header nav .box ul li a:hover {
    cursor: pointer;
    color: rgb(78, 76, 76);

}

header h2 {
    font-size: 3vw;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.804);
    word-spacing: 5px;
    padding-top: 9vw;
    padding-left: 5vw;
    font-family: "Poppins", sans-serif;

}

header p {
    font-size: 2vw;
    color:black;
    font-weight: 500;
    width: 60%;
    font-weight: 550;
    padding: 2vw 10vw;
    font-family: "Poppins", sans-serif;
}

/* header end */
/* main start */
main {
    height: 230vw;
    position: relative;

}

/* sira sanf  */
/* ghothan */
/* gghothan */

/* handles */
section.handle-main{
    height: 65vw;
    border: solid 1px black;
}
section.handle-main .text{
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
section.handle-main .conthandle{
    height: 30vw;
    margin-top: 3vw;
     border: solid 1px black;
     display: flex;
     align-items: center;
     justify-content: space-around;
}
section.handle-main .conthandle .handle{
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: solid 1px black;
}
section.handle-main .conthandle .handle .box{
    height: 70%;
    width: 40%;
    border: solid 1px black;
}
section.handle-main .conthandle .handle .box:nth-child(2){
    width: 50%;
}
/* about start */
section.aboutmain {
    padding: 0vw 0vw;
    height: 80vw;
    background-image: url(create\ a\ travel\ 0.webp);
    background-attachment: fixed;
    background-size: 100%;
    border-bottom: solid 2px white;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
}

section.aboutmain .about-2 {
    height: 30vw;
    background-color: rgb(24, 24, 24, 0.756);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0vw 5vw;
}

section.aboutmain .about {
    height: 30vw;
    background-color: rgba(24, 24, 24, 0.756);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0vw 5vw;
}

section.aboutmain .about-2 .box-2 {
    height: 100%;
    width: 50%;
}

section.aboutmain .about .box {
    height: 100%;
    width: 50%;
    padding: 0vw 3vw;
}
section.aboutmain .about .box:first-child{
    height: 80%;
    width: 30%;
    border-radius: 10px;
    background-image: url(../images/about-1.webp);
    background-size: cover;
}
section.aboutmain .about .box:hover{
    background-position: 50%, 50%;
    transition-duration: 1s;
}
section.aboutmain .about-2 .box-2:hover{
    background-position: 50%, 50%;
    transition-duration: 1s;
}
section.aboutmain .about-2 .box-2:nth-child(2){
    height: 80%;
    width: 30%;
    border-radius: 10px;
    background-image: url(../images/about-2.webp);
    background-size: cover;
}

section.aboutmain .about-2 .box-2 p {
    font-size: 1.8vw;
    color: white;
    font-weight: 500;
    width: 100%;
    font-family: "Poppins", sans-serif;
}

section.aboutmain .about-2 .box-2 h2 {
    font-size: 3vw;
    color: white;
    word-spacing: 5px;
    padding: 1vw 3vw;
    font-family: "Poppins", sans-serif;
}


section.aboutmain .about .box p {
    font-size: 1.8vw;
    color: white;
    font-weight: 500;
    width: 100%;
    font-family: "Poppins", sans-serif;
}

section.aboutmain .about .box h2 {
    font-size: 3vw;
    color: white;
    word-spacing: 5px;
    padding: 4vw 3vw;
    font-family: "Poppins", sans-serif;
}

/* about end */
/* destination start */
main section.destination-main {
    height: 80vw;
}

main section.destination-main h1 {
    font-size: 3vw;
    color: black;
    word-spacing: 5px;
    padding: 2vw 36vw;
    font-family: "Poppins", sans-serif;
}

main section.destination-main h2 {
    font-size: 2.5vw;
    color: black;
    word-spacing: 5px;
    padding: 0vw 32vw;
    font-family: "Poppins", sans-serif;
}

main section.destination-main .destination {
    height: 30vw;
    margin-top: 2%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

main section.destination-main .destination .box {
    height: 25vw;
    width: 25vw;
    background-image: url(../images/des-1.webp);
    background-size: cover;
    border-radius: 5%;
    padding: 10vw 5vw;
}
main section.destination-main .destination .box:nth-child(2){
    background-image: url(../images/des-2.webp);
}
main section.destination-main .destination .box:nth-child(3){
    background-image: url(../images/des-3.webp);
}
#box-4{
    background-image: url(../images/des-4.webp);
    background-size: cover;
}
#box-5{
    background-image: url(../images/des-5.webp);
    background-size: cover;
}
#box-6{
    background-image: url(../images/des-6.webp);
    background-size: cover;
}

main section.destination-main .destination .box:hover {
    background-position: 50%, 50%;
    transition-duration: 1s;
    
}

main section.destination-main .destination .box h3 {
    font-size: 2vw;
    color: wheat;
    font-family: "Poppins", sans-serif;

    /* display: none;   */
}

/* destination end */
/* services starrt */
main section.service-main {
    height: 60vw;
    margin-top: 9vw;
}

main section.service-main h2 {
    font-size: 3vw;
    color: black;
    word-spacing: 5px;
    padding: 2vw 36vw;
    font-family: "Poppins", sans-serif;
}

main section.service-main h3 {
    font-size: 2.5vw;
    color:black;
    word-spacing: 5px;
    padding: 0vw 30vw;
    font-family: "Poppins", sans-serif;
}

main section.service-main .service {
    height: 35vw;
    margin-top: 5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

main section.service-main .service .box {
    height: 90%;
    width: 32%;
    padding: 2vw 5vw;
    background-image: url(../images/packeges\ \(1\).webp);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 10px;
}

main section.service-main .service .box:hover {
    background-position: 50%, 50%;
    transition-duration: 1s;
}

main section.service-main .service .box:nth-child(2) {
    background-image: url(../images/visa.webp);

}

main section.service-main .service .box:nth-child(3) {
    background-image: url(../images/kabba.webp);
}

main section.service-main .service .box h1 {
    font-size: 3vw;
    color:black;
    word-spacing: 5px;
    font-family: "Poppins", sans-serif;
}

main section.service-main .service .box p {
    font-size: 1.5vw;
    color: black;
    margin-top: 5%;
    font-weight: 500;
    width: 100%;
    font-family: "Poppins", sans-serif;
}

main section.service-main .service .box button {
    padding: 1vw 3vw;
    border-radius: 10px;
    border: none;
    margin-left: 5vw;
    margin-top: 1vw;
    color: rgb(24, 24, 24);
}

main section.service-main .service .box button:hover {
    cursor: pointer;
    color: white;
    background-color: rgb(77, 74, 74);
}

/* Footer Styles */
footer {
    background-color: rgb(38, 37, 37);
    color: #fff;
    padding: 2vw 0vw;
    margin-top: -10vw;
}

.containeroffooter {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footercontact,
.footerlink,
.footermedia {
    flex: 1;
    margin: 0 20px;
}

.footercontact h4,
.footerlink h4,
.footermedia h4 {
    font-size: 25px;
    margin-bottom: 10px;
}

.footermedia ul {
    list-style-type: none;
}

.footercontact p {
    margin-bottom: 8px;
}

.footerlink ul li,
.footermedia ul li {
    margin-bottom: 15px;
}

.footerlink ul li a,
.footermedia ul li a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s;
}

.footerlink ul li a:hover,
.footermedia ul li a:hover {
    color: black;
    /* Hover par text color change ho */
}

.footercopy {
    text-align: center;
    margin-top: 20px;
}

/* visa page */
section.visa-main {
    height: 70vw;
    margin-top: -2vw;
    background-image: url(create\ a\ backgr\ 1.webp);
    background-attachment: fixed;
    background-position-y: 50%;
    background-size: 100%;

}

section.visa-main .visa {
    height: 20vw;
    margin-top: 1.5vw;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

section.visa-main .visa-2 {
    height: 20vw;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

section.visa-main .visa .box a button,
section.visa-main .visa-2 .box-2 a button,
section.visa-main .visa-3 .box-3 a button {
    width: 100%;
    height: 5vw;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    margin-top: 55%;
    opacity: 0.8;
    font-size: 2.5vw;
    font-weight: 700;
    color: white;
    background-color: rgb(24, 24, 24);
}

section.visa-main .visa .box a button:hover {
    opacity: 1;
}

section.visa-main .visa-2 .box-2 a button:hover {
    opacity: 1;
}

section.visa-main .visa-3 .box-3 a button:hover {
    opacity: 1;
}

section.visa-main .visa-3 {
    height: 20vw;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

section.visa-main .visa .box {
    height: 15vw;
    width: 20vw;
    overflow: hidden;
    background-image: url(../images/AZERBAIJAN.webp);
    background-position: center;
    background-size: cover;
    border-radius: 10%;

}

section.visa-main .visa .box:nth-child(2) {
    background-image: url(../images/canada.webp);
    background-position-x: 20%;
}

section.visa-main .visa .box:nth-child(3) {
    background-image: url(../images/duabi.webp);
}

section.visa-main .visa .box:nth-child(4) {
    background-image: url(../images/germany.webp);
}

section.visa-main .visa-2 .box-2 {
    height: 15vw;
    width: 20vw;
    overflow: hidden;
    background-image: url(../images/iran.webp);
    background-size: cover;
    border-radius: 10%;

}

section.visa-main .visa-2 .box-2:nth-child(2) {
    background-image: url(../images/italy.webp);
}

section.visa-main .visa-2 .box-2:nth-child(3) {
    background-image: url(../images/malaysia.webp);
    background-position-x: 20%;
}

section.visa-main .visa-2 .box-2:nth-child(4) {
    background-image: url(../images/portugal.webp);
    background-position-x: 20%;
}

section.visa-main .visa-3 .box-3 {
    height: 15vw;
    width: 20vw;
    overflow: hidden;
    background-image: url(../images/singapore.webp);
    background-position: center;
    background-size: 150%;
    border-radius: 10%;

}

section.visa-main .visa-3 .box-3:nth-child(1) {
    background-position-x: 20%;
    background-position-y: 20%;
}

section.visa-main .visa-3 .box-3:nth-child(2) {
    background-image: url(../images/AZERBAIJAN.webp);
}

section.visa-main .visa-3 .box-3:nth-child(3) {
    background-image: url(../images/turkey.webp);
}

section.visa-main .visa-3 .box-3:nth-child(4) {
    background-image: url(../images/thailand.webp);
    background-size: 90%;
}

a {
    text-decoration: none;
}

/* des1 */
.containerdes1 {
    height: 50vw;
    display: flex;
}

.containerdes1 .box {
    height: 100%;
    width: 50%;
    background-color: rgb(38, 37, 37);
}

.containerdes1 .box img {
    margin-left: 3%;
    margin-top: 8%;
    height: 25vw;
    width: 30vw;
    border-radius: 15px;
    filter: drop-shadow(0 0 3px black) drop-shadow(0 0 3px black);
}

.containerdes1 .box h1 {
    margin-left: 25%;
    margin-top: 3%;
    font-weight: 600;
    color: white;
    word-spacing: 5vw;
    font-family: "Poppins", sans-serif;
}

.containerdes1 .box p {
    font-family: "Poppins", sans-serif;
    font-size: 2vw;
    margin-top: 5%;
    margin-left: 3%;
    color: white;
}

.containerdes1 .box button {
    margin-top: 5%;
    margin-left: 30%;
    padding: 1.5vw 2vw;
    color: rgb(38, 37, 37);
    border-radius: 10px;
    background-color: white;
    border: none;
    font-family: "Poppins", sans-serif;
}

.containerdes1 .box button:hover {
    background-color: black;
    color: white;
}


/* packeges page */
section.packeges-main {
    height: 70vw;
    background-image: url(A\ beautiful\ ima\ 0\ \(2\).png);
    background-size: 200%;
    margin-top: -3vw;
    background-attachment: fixed;

}

section.packeges-main .packeges {
    height: 30vw;
    margin-top: 3%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    background-color: rgba(38, 37, 37, 0.767);
}

section.packeges-main .packeges .pac-box {
    height: 90%;
    width: 22%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    overflow: hidden;
    border-radius: 10px;
    background-color: rgb(201, 195, 195);
    filter: drop-shadow(0 0 1.5px white) drop-shadow(0 0 1.5px white);

}

section.packeges-main .packeges .pac-box .box {
    height: 40%;
    width: 100%;
}
section.packeges-main .packeges .pac-box .box img{
    height: 25vw;
    object-fit: cover;
}

section.packeges-main .packeges .pac-box .box h2 {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: centerS;
    margin-top: 15%;
    font-weight: 500;
    color: rgb(38, 37, 37);
    font-family: "Poppins", sans-serif;
}

section.packeges-main .packeges .pac-box .box button {
    width: 25vw;
    height: 4vw;
    margin-top: 5%;
    margin-left: -5%;
    border: none;
    opacity: 0.5;
    font-size: 1.5vw;
    font-weight: 500;
    color: white;
    background-color: rgb(24, 24, 24);
}

section.packeges-main .packeges .pac-box .box button:hover {
    opacity: 1;
}

section.packeges-main .packeges .pac-box .box:first-child {
    height: 60%;

}

section.packeges-main .packeges .pac-box .box:nth-child(2) {
    background-color: rgb(201, 195, 195);
}



/* packeges page back */
section.packegespages-main {
    height: 200vh;
    margin-top: 3%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background-image: url(create\ a\ backgr\ 1.webp);
    background-size: 100%;
}

section.packegespages-main .packegespages {
    height: 80%;
    width: 100vw;
    background-color: rgba(38, 37, 37, 0.495);
    overflow: scroll;
    padding: 3vw 10vw;
}

section.packegespages-main .packegespages::-webkit-scrollbar {
    display: none;
}

section.packegespages-main .packegespages p {
    font-size: 2vw;
    color: white;
    font-family: "Poppins", sans-serif;
}


section.packegespages-main .packegespages h2 {
    font-weight: 700;
    font-size: 4vw;
    color: rgb(255, 251, 251);
    font-family: "Poppins", sans-serif;
}

section.packegespages-main .packegespages h5 {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    margin-top: 2vw;
    font-size: 3vw;
    color: white;
}

section.packegespages-main .packegespages .box-days .top-box .day h5 {
    margin-top: 0vw;
    font-size: 2.5vw;
    font-weight: 600;
}

section.packegespages-main .packegespages .box-days .top-box h6 {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 2vw;
    color: white;
}

section.packegespages-main .packegespages button {
    padding: 1vw 3vw;
    font-size: 2vw;
    border-radius: 10px;
    border: none;
    margin-top: 2vw;
}

section.packegespages-main .packegespages button:hover {
    background-color: rgb(23, 22, 22);
    color: white;
}

section.packegespages-main .packegespages ul {
    font-size: 2vw;
    color: white;
    font-family: "Poppins", sans-serif;
    display: none;
    margin-left: 3vw;
}

section.packegespages-main .packegespages .box-days {
    height: 10vh;
    width: 70vw;
    margin-top: 2vw;
    border: solid 1px white;
    border-radius: 15px;
    overflow: hidden;
}

section.packegespages-main .packegespages .box-days::-webkit-scrollbar {
    display: none;
}

section.packegespages-main .packegespages .box-days .top-box {
    height: 10vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid 1px white;


}

section.packegespages-main .packegespages .box-days .day {
    height: 100%;
    width: 20%;
    padding: 0.8vw 2vw;
    background-color: rgba(23, 22, 22, 0.742);
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}

section.packegespages-main .packegespages .box-days .icon {
    height: 80%;
    border-radius: 50%;
    width: 4vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(23, 22, 22, 0.815);
}

/* blog page */
.container-blog {
    margin-top: 1vw;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    background-size: cover;
    background-image: url(an\ aeroplane\ is\ 1.png);
    border: solid 1px black;
}

.container-blog .containerblog-main {
    height: 100%;
    width: 80%;
    overflow: scroll;
    border: solid 1px black;
    background-color: rgba(24, 24, 24, 0.651);

}

.container-blog .containerblog-main::-webkit-scrollbar {
    display: none;
}

.container-blog .containerblog-main:nth-child(2) {
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.63);
}

.container-blog .containerblog-main:nth-child(2) h2 {
    font-size: 2.5vw;
    margin-top: 1.5vw;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
}

.container-blog .containerblog-main .containerblog {
    height: 10vh;
    border: solid 1px black;
}

.container-blog .containerblog-main .containerblog h2 {
    font-size: 2.5vw;
    margin-top: 1.5vw;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
}

.container-blog .containerblog-main .containerblog:nth-child(2),
.container-blog .containerblog-main .containerblog:nth-child(4) {
    height: 80vh;
    display: flex;
    justify-content: space-around;
}

.container-blog .containerblog-main .containerblog .box {
    height: 100%;
    width: 50%;
    border: solid 1px white;
}
/* footer secondary */
footer.sec{
    margin-top: 0vw;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(23, 22, 22);
}

/* toggle */
label,
#check {
    display: none;
}
